<% @parsed.entries.each do |entry|  %>
  <h2><%= simple_format(entry.title) %></h2>
  <p><%= entry.published  %></p>
  <p><%= simple_format(entry.summary) %></p>
  <p><%= link_to entry.url, entry.url  %></p>
<% end %>