<h1>Gator says hello world</h1>

<% if user_signed_in? %>
   
  <% if AuthenticationProvider.find_by_name("twitter") %>
    <%= render 'tweets/tweets' %>
  <% end %>

  <% if AuthenticationProvider.find_by_name("facebook") %>
    <%= link_to "Facebook info", 'facebook/index' %>
    <!-- <#%= render 'facebook/facebook'  %> -->
  <% end %>
<% end %>