<h1>Gator says hello world</h1>

<% if user_signed_in? %>
  <%= link_to "Twitter", tweets_path %>
  <!-- 
  logic goes like this:
    check to see if the user has authenticated with fb (look at controller)
    if the user has authenticated, print out the link to view facebook info
    else print nothing.
  -->
  <%= link_to "Facebook info", facebook_index_path %>
<% end %>