/*—————————————————————————————————————————
*****************Z-Index********************
——————————————————————————————————————————*/
$z-body: 0;
$z-nav: 1;
$-alerts: 2;

/*—————————————————————————————————————————
*****************Colors********************
——————————————————————————————————————————*/
// gray scale
$black: #000000;
$black-90: #414042;
$black-80: #58595b;
$black-70: #6d6e71;
$black-60: #808184;
$black-50: #929497;
$black-40: #a6a8ab;
$black-30: #bbbdbf;
$black-20: #d0d2d3;
$black-10: #e5e6e7;
$white: #ffffff;

// colors
$cobalt: #00b3b8;
$charcoal: #564757;
$blue: #4d95cd;
$alert-color: #892613;
$notice-color: #4cd8a1;

/*——————————————————————————————————————————
***************TYPOGRAPHY*****************
——————————————————————————————————————————*/
$header-font: "proxima-nova-soft", Helvetica, Arial, sans-serif;
$body-font: "freight-sans-pro", Helvetica, Arial, sans-serif;

$base-font-size: 14px;
$large-font-size: 1.2em;
$xlarge-font-size: 1.5em;
$xxlarge-font-size: 2em;

$base-line-height: 20px;
$large-line-height: 24px;

/*——————————————————————————————————————————
***************ICONS*****************
——————————————————————————————————————————*/
$icon-width: 48px;
$icon-height: 48px;
$icons: image-url('sprite-sheet.png')