nav#feeds-menu {
  @include transition(all, 0.25s, ease, 0);
  padding: 80px 15px;
  position: fixed;
  top: 0;
  // right: 100%;
  height: 100%;
  background: $black-10;
  overflow-y: auto;

  .feed-form  {
    margin-bottom: 40px;
  }
  & > ul {
    @include defaults;
    list-style: none;


    & > li {

      & > a {

        &:before, &:after {

        }

        &:after {
          
        }

        &:hover:after, &:focus:after { opacity: 1; }
      }

      & > ul {
        list-style: none;
        margin: 0;
        padding: 0;

        & > li {

          & > a {

          }
        }        
      }

      & > a.open + ul {

      }
    }
  }

  &.active {
    left: 0px;
    right: 75%;
    z-index: $z-nav;
  }
}