nav.navbar {
  @include defaults;
  @include transition(all, 0.25s, ease-in-out, 0);
  z-index: $z-nav;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $charcoal;
  color: white;
  width: 100%;
  height: 60px;

  ul.nav {

    @include defaults;
    list-style:none;

    li a.menu-icon{

      float: left;
      display:block;
      width:40px;
      -webkit-transform: translate3d(0,0,0);

      &:before,
      &:after,
      .menu-icon__text {
        background: $white;
        color: $white;
        content: '';
        display:block;
        height:4px;
        margin:6px 0;
        width:100%;
        border-radius: 3px;
        @include transition(all, 0.25s, ease-in-out, 0)
      }
      .menu-icon__text {
        text-indent: -9999px;
      }
      .display_text{
        position: absolute;
        top: 3px;
        padding-left: 50px;
        text-decoration: none;
        color: $white;
        font-family: $body-font;
        font-size: $large-font-size;
        // font-weight: 700;
        font-style: normal;
      }
      &.active {
        &:before {
          -webkit-transform: rotate(45deg) translate3d(5px,10px,0);
          -moz-transform: rotate(45deg) translate3d(5px,10px,0);
          -o-transform: rotate(45deg) translate3d(5px,10px,0);
          -ms-transform: rotate(45deg) translate3d(5px,10px,0);
          transform: rotate(45deg) translate3d(5px,10px,0);
        }

        .menu-icon__text {
            opacity: 0;
        }

        &:after {
          -webkit-transform: rotate(-45deg) translate3d(5px,-10px,0);
          -moz-transform: rotate(-45deg) translate3d(5px,-10px,0);
          -o-transform: rotate(-45deg) translate3d(5px,-10px,0);
          -ms-transform: rotate(-45deg) translate3d(5px,-10px,0);
          transform: rotate(-45deg) translate3d(5px,-10px,0);
        }
      }
    }
    .indent {
        margin: 13px auto;
    }

    li.brand {
      margin: 0 45%;
      position: absolute;

      a.brand-home-link { 
        position: relative; 
        top: 20px; 
        
        &:after {
          position: absolute;
          content: '';
          top: 0px;
          width: ($icon-width * 2);
          height: $icon-height;
          background-image: $icons;
          background-position: 0 -48px;
          background-position-x: -($icon-width * 0);
          background-position-y: -($icon-height * 1);
        }
      }
    }

    li {
      display: inline-block;
      margin: 0 10px;

      
      &.align-right { 
        @include align-right;
        background-color: $cobalt; 
        height: 60px; 
        text-align: center; 
        box-sizing: border-box; 
        padding: 20px; 
      }
      &.user-signed-in {
        background-color: $charcoal; 
      } 
      &.login { 
        background-color: $cobalt; 
        height: 60px; 
        width: 80px; 
        text-align: center; 
        box-sizing: border-box; 
        padding-top: 20px; 
      }

      a { 
        color: $white;
        text-decoration: none;
      }

      ul {
        @include defaults;
        @include transition(all, 0.25s, ease, 0);
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 60px;
        right: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 0 10px #000;
        width: 150px;
        &.active { visibility: visible; opacity: 1; }

        li {
          display: block;
          list-style: none;
          margin: 10px 0;
          padding: 0;
          box-sizing: border-box;
          a {
            display: block;
            color: $charcoal;
            width: 100%;
            padding: 10px 20px;
            box-sizing: border-box;
            &:hover { color: $white; margin: 10px auto; background-color: $cobalt;}
          }
        }
      }
    }
  }

  &.active {
    left: 25%;
    width: 75%;
  }
}