div#twitter-container {
  header.profile-header {
    position: relative;
    img.profile-banner { width: 100%; height: auto; }
    h2 {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 0;
      margin: 0;
      background: rgba(255,255,255,0.8)
    }
  }
  section.tweet {
    header.tweet-header {
      display: block;
      margin-bottom: 30px;
      h2 {
        img.profile-pic {
          float: left;
          margin-right:10px;
        }
      }
    }
    div.tweet-media {
      img.tweet-image {
        width: 100%;
        height: auto;
      }
    }
    div.tweet-content {
      
    }
  }
}