div#twitter-container {

  section.tweet {
    header.tweet-header {
      display: block;
      margin-bottom: 30px;
      h2 {
        img.profile-pic {
          float: left;
          margin-right:10px;
        }
      }
    }
    div.tweet-media {
      img.tweet-image {
        width: 100%;
        height: auto;
      }
    }
    div.tweet-content {
      
    }
  }
}